<h2>You are viewing the <%= @gallery.name %> gallery</h2>

<a href="/galleries/<%= @gallery.id %>/edit">Edit Gallery</a>

<form action="/galleries/<%= @gallery.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Gallery" />
</form>

<ul>
<% @images.each do |image| %>
  <img src="<%= image.url %>" />
<% end %>
</ul>
