<html>
<head>
  <title>Pixtr - For Your Photos</title>
  <style>
body {
  background :lightblue;
}
  img {
  width: 300px;
  }
  </style>
</head>
<body>

  <h1><a href="/">Pixtr</a></h1>
  <%=yield%>

</body>
</html>
